.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-expense__actions {
  text-align: right;
}

.red,
.green {
  margin-top: 5px;
  transition: all 1s;
  font-weight: bold;
}
.red {
  color: red;
}

.green {
  color: green;
}

.disable {
  color: white !important;
  background-color: grey !important;
  pointer-events: none;
  /* transition: all 1s; */
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}
